/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;

  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 1.6rem; /** 1 re, = 10 px **/
}


.title{
    color:red;
}

.nav-items{
  display:flex;
  
}

.nav-items li{
  font-size: 3rem;
  list-style: none;
  margin: 1.5rem;
}

.navbar{
  background-color: #FA4F01;
  display: flex;
  justify-content: space-between;
}

img{
  max-width: 100%;
}

.navbar a{
  flex-basis: 5%;
}

.container{
  width: 120rem;
  margin: 0 auto;
}

.nav-items li a{
  color: white;
  text-decoration: none;
}

.nav-items li a:hover{
  color: black;
  text-decoration: none;
}